@using Firma.Data.Data.Sklep
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Firma.PortalWWW</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/lib/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>

<div class="navbar-fixed">
    <nav class="light-blue lighten-1" role="navigation">
        @await Html.PartialAsync("RodzajeMenu", (IEnumerable<Rodzaj>)ViewBag.ModelRodzaje)
    </nav>
</div>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        @RenderBody()
    </div>
</div>

<footer class="page-footer orange">
    <div class="footer-copyright">
        <div class="container">
            Made by WSB-NLU
        </div>
    </div>
</footer>

<!--  Scripts-->
<script src="~/lib/jquery/dist/jquery-2.2.4.js"></script>
<script src="~/lib/materialize/js/materialize.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>