@model IEnumerable<Firma.Data.Data.CMS.Strona>

<div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
        <li>@Html.ActionLink("Strona główna", "Index", "Home")</li>
        @foreach (var item in Model)
        {
            @*<li>@Html.ActionLink(item.LinkTytul, "Index", "Home", new { id = item.IdStrony }, null)</li>*@
            @*wersję poniżej łatwiej stylować*@
            <li><a class="nav-link text-dark" asp-controller="Home" asp-action="Index" asp-route-id="@item.IdStrony">@item.LinkTytul</a></li>
        }
    </ul>

    <ul id="nav-mobile" class="sidenav">
        <li>
            <a href="#">Navbar Link</a>
        </li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger">
        <i class="material-icons">menu</i>
    </a>
</div>