@{
    ViewData["Title"] = "Kontakt";
}
<h1 class="header center orange-text">@ViewData["Title"]</h1>
<div class="row center">
    <h5 class="header col s12 light">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In eu mi bibendum neque egestas congue quisque egestas. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Hendrerit gravida rutrum quisque non tellus orci ac auctor. A lacus vestibulum sed arcu. Urna condimentum mattis pellentesque id nibh tortor id aliquet lectus. Curabitur vitae nunc sed velit dignissim sodales. Mus mauris vitae ultricies leo. Lectus quam id leo in. Congue eu consequat ac felis donec et.</p>
</div>
<br>
<br>