@{
    ViewData["Title"] = "Strona domowa";
}
<h1 class="header center orange-text">@ViewData["Title"]</h1>
<div class="row center">
    <h5 class="header col s12 light">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In eu mi bibendum neque egestas congue quisque egestas. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu. Hendrerit gravida rutrum quisque non tellus orci ac auctor. A lacus vestibulum sed arcu. Urna condimentum mattis pellentesque id nibh tortor id aliquet lectus. Curabitur vitae nunc sed velit dignissim sodales. Mus mauris vitae ultricies leo. Lectus quam id leo in. Congue eu consequat ac felis donec et.</p>

    <p>Risus feugiat in ante metus dictum at. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. In egestas erat imperdiet sed euismod nisi porta lorem. Blandit cursus risus at ultrices mi. Eget arcu dictum varius duis at consectetur lorem donec massa. Fusce ut placerat orci nulla. Ipsum dolor sit amet consectetur adipiscing elit ut aliquam. Pretium aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Gravida quis blandit turpis cursus in. Eget nunc lobortis mattis aliquam faucibus purus. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae. Amet risus nullam eget felis eget nunc.</p>
</div>
<div class="row center">
    <a href="https://docs.microsoft.com/aspnet/core" id="download-button" class="btn-large waves-effect waves-light orange">ASP.NET Core</a>
</div>
<br>
<br>

<div class="section">
    <!--   Icon Section   -->
    <div class="row">
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                <h5 class="center">Speeds up development</h5>

                <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                <h5 class="center">User Experience Focused</h5>

                <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                <h5 class="center">Easy to work with</h5>

                <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
        </div>
    </div>

</div>
<br>
<br>
