@model IEnumerable<Firma.Data.Data.Sklep.Towar>

    @{
        ViewData["Title"] = "Sklep";
        Layout = "_SklepLayout";
    }
    
<div>
    <table>
        <thead>
        <tr>
            <th>Foto</th>
            <th>Nazwa</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var towar in Model)
        {
            <tr>
                <td>@towar.Foto</td>
                <td>@towar.Nazwa</td>
                <td>@towar.Cena.ToString("0.00")</td>
            </tr>
        }
        </tbody>
    </table>
</div>