@model IEnumerable<Firma.Data.Data.Sklep.Towar>

    @{
        ViewData["Title"] = "Sklep";
        Layout = "_SklepLayout";
    }
    
    <div>Tu będzie wyświetlanie towarów danej kategorii</div>